* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  width: 1000px;
}

.btn {
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
}

a.btn {
  text-decoration: none;
  color: #000;
}

.btn:hover {
  cursor: pointer;
  border-color: #000;
}

.navbar {
  padding: 30px 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  width: calc(100% / 3);
}

.navbar ul li {
  text-align: center;
}

.navbar ul li img {
  background-color: #20232a;
  height: 40px;
  width: 40px;
}

.navbar ul li:first-child {
  text-align: left;
  margin: 0;
}

.navbar ul li:last-child {
  text-align: right;
  margin: 0;
}

.all-posts {
  width: calc(100% - 370px);
  float: left;
}

.bookmarks-sidebar {
  width: 360px;
  float: right;
}

.post {
  margin-bottom: 30px;
  padding: 0 25px;
}

.post a {
  color: #000;
  text-decoration: none;
}

.post h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.post p {
  line-height: 1.8;
}

.post ul {
  margin: 0;
  padding: 0;
}

.post ul li {
  list-style: none;
  display: inline-block;
}

.post ul li button {
  margin-right: 15px;
}

.bookmarks-sidebar {
  background-color: #fafafa;
  padding: 30px 25px;
}

.bookmark {
  position: relative;
  padding-left: 35px;
  margin-bottom: 35px;
}

.bookmark h5 {
  font-size: 18px;
  margin-bottom: 0;
}

.bookmark h5 a {
  text-decoration: none;
  color: #000;
}

.bookmark p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.bookmark .number {
  position: absolute;
  left: 0;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 900;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  text-align: center;
  top: 0;
  line-height: 25px;
}

.input-title {
  font-size: 32px;
  width: 100%;
  font-weight: 700;
  border: none;
  box-shadow: none;
  padding: 15px 0;
}

.input-title:focus {
  outline: none;
}

.richtext-editor {
  width: calc(100% / 1.35);
  margin: 0 auto;
}

.RichEditor-styleButton {
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
  margin: 0;
  margin-right: 10px;
  border: 2px solid transparent;
}

.RichEditor-activeButton {
  border-color: #000;
  color: #000;
  background-color: transparent;
}

.public-DraftEditorPlaceholder-root {
  padding: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: 18px;
}

.public-DraftEditorPlaceholder-inner {
  font-size: 18px;
}

.btn-more {
  margin-right: 15px;
}

.btn-remove-bookmarks {
  background-color: #000;
  color: #fff;
}

.btn-remove {
  background-color: #F44336;
  color: #fff;
  margin-left: 15px;
}

.btn-submit {
  margin-top: 15px;
}

.single-post {
  width: calc(100% / 1.35);
  margin: 0 auto;
}

.single-post .header {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 30px;
}

.single-post h1, .DraftEditor-editorContainer h1 {
  margin: 0;
  font-size: 38px;
}

.single-post h2, .DraftEditor-editorContainer h2 {
  font-size: 34px;
}

.single-post h3, .DraftEditor-editorContainer h3 {
  font-size: 30px;
}

.single-post h4, .DraftEditor-editorContainer h4 {
  font-size: 26px;
}

.single-post h5, .DraftEditor-editorContainer h5 {
  font-size: 22px;
}

.single-post h6, , .DraftEditor-editorContainer h6 {
  font-size: 18px;
}

.single-post ul li, .single-post ol li, .DraftEditor-editorContainer ul li, .DraftEditor-editorContainer ol li {
  padding: 12px 0;
  font-size: 21px;
}

.single-post a, .DraftEditor-editorContainer a {
  color: #000;
  text-decoration: underline;
}

.single-post p, .DraftEditor-editorContainer p {
  margin: 0;
  font-size: 22px;
  line-height: 1.7;
}

.single-post p code, .DraftEditor-editorContainer p code {
  background-color: rgba(0,0,0,.05);
  padding: 3px 5px;
  font-size: 0.8em;
}

.single-post figure, .DraftEditor-editorContainer figure {
    margin: 30px auto;
    text-align: center;
}

.single-post blockquote, .DraftEditor-editorContainer blockquote {
  border-left: 4px solid #000;
  margin: 0;
  padding: 10px 25px;
  font-style: italic;
}

.single-post pre, .DraftEditor-editorContainer pre {
  background-color: rgba(0,0,0,.05);
  padding: 20px;
  white-space: pre-wrap;
}

.single-post pre code, .DraftEditor-editorContainer pre code {
  font-size: 17px;
  color: rgba(0, 0, 0.75);
}

.post-foot {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0;
  margin-top: 35px;
  padding: 35px 0;
}

.msg-success {
  color: #4CAF50;
}

.msg-error {
  color: #F44336;
}

.post-foot li {
  list-style: none;
  display: inline-block;
}

.bookmark-page {
  margin-top: 100px;
}

.bookmark-page h1 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
}

footer {
  clear: both;
  padding: 60px 0;
}

.footer ul {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  border-top: solid 1px rgba(0, 0, 0, 0.10);
  text-align: center;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.footer ul li a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 4px;
}
